/* Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Yusei Magic", sans-serif;
  --display-font: "Amatic SC", cursive;
  --blue: #2f4d8a;
  --salmon: rgb(255 171 145 / 40%);
}

body {
  background-image: url("/assets/background.png");
  background-size: 180vw;
}

p,
h1,
h3 {
  color: var(--blue);
  background: var(--salmon);
}

h1 {
  font-family: var(--display-font);
  font-size: 100px;
  font-weight: bold;
}

p,
h3 {
  font-family: var(--main-font);
  font-size: 16px;
  text-align: right;
}

h3 {
  font-size: 24px;
}

img {
  display: inline-grid;
  width: 100%;
  max-width: 600px;
}

.main__image__container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  row-gap: 0;
  justify-content: center;
  column-gap: 0;
  overflow-x: clip;
  width: 100%;
}
