/* Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Yusei Magic", sans-serif;
  --display-font: "Amatic SC", cursive;
  --blue: #2f4d8a;
  --salmon: rgb(255 171 145 / 40%);
  --salmon-opaque: #ffab91;
}

body {
  background-image: url("/assets/background.png");
  background-size: 180vw;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: var(--display-font);
  font-size: 100px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

p,
h3 {
  font-family: var(--main-font);
  text-align: right;
}

h3 {
  font-size: 24px;
}

button {
  padding: 10px;
  font-size: 20px;
  background-color: var(--blue);
  border-radius: 5px;
  margin-bottom: 5px;
  color: white;
  font-family: var(--main-font);
}

.nav__buttons__toggle_break {
  display: none;
}

@media (max-width: 485px) {
  .nav__buttons__toggle_break {
    display: block;
  }
}

img {
  display: inline-grid;
  width: 100%;
}

/* GENERAL PURPOSE CLASSES */

.banner {
  display: block;
  width: 100%;
  color: var(--blue);
  background: var(--salmon);
  margin-bottom: 1rem;
}

.margin-0 {
  margin: 0 !important;
}

/* MOBILE NAV */

@media (min-width: 900px) {
  .nav__buttons {
    background-color: var(--salmon-opaque);
    border-bottom-left-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
    align-self: top;
  }

  .header__title {
    align-self: bottom;
    display: inline-block;
  }
}

@media (max-width: 900px) {
  button {
    font-size: 16px;
    padding: 5px;
  }
  .nav__buttons__toggle_break {
    display: show;
  }
}
